---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404">
    <section class="py-12 bg-white-100 font-agdasima">
        <img src="/hero4.jpg" class="scale-100 w-screen h-[140px] transform -translate-y-[101px] md:-translate-y-[60px]  object-cover" alt="Header Image, shows picture of Various Chinese Food on a Table"/>
        <div class="relative z-10 flex flex-col items-center justify-center h-[300px] text-black">
            <h1 class="text-4xl font-bold mb-4">404</h1>
            <p class="text-xl mb-6">Oops! The page you are trying to access is currently not available.</p>
            <a href="/" class="px-4 py-2 bg-primary text-white rounded hover:bg-secondary transition">Go to Homepage</a>
        </div>
    </section>
</Layout>