---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Service Area | Vanchu Hut" description="Service Area of Vanchu Hut">
    <section class="py-12 bg-white-100 font-agdasima">
        <img src="/hero4.jpg" class="scale-100 w-screen h-[140px] transform -translate-y-12  object-cover" alt="Header Image, shows picture of Various Chinese Food on a Table"/>
        <div class="absolute inset-0 bg-black opacity-80 w-screen h-[140px]"></div>

    </section>
    Coming Soon
</Layout>