

<div id="parallax-image" class="flex flex-col text-center -mt-24 md:mt-10 h-[90vh] md:h-[70vh] sm:text-6xl text-3xl m-2 ">
    <h2><b class="text-secondary "><b class="text-primary">A</b>uthentic</b> Flavors, Right Here</h2>
    <div class="text-3xl">
        <h3>
            Looking for the best restaurants in Ghaziabad that offer authentic flavors and a cozy atmosphere? Your search ends here at Vanchu Hut! Located in Pratap Vihar, we are proud to be one of the best restaurants in Ghaziabad. We serve a wide range of delicious Chinese dishes.     </div>
        </h3>
        
</div>