

<div id="parallax-image" class="flex flex-col text-center -mt-24 md:mt-10 h-[90vh] md:h-[70vh] sm:text-6xl text-3xl m-2 ">
    <h2><b class="text-secondary "><b class="text-primary">A</b>uthentic</b> Flavors, Right Here</h2>
    <div class="text-3xl">
        <h3>
            Vanchu Hut is here to satisfy every craving with a menu t   hat brings the taste of China right to your neighborhood.<br>
            Our restaurant is dedicated to serving up the best Chinese food in Pratap Vihar., where every dish is crafted with fresh ingredients.     </div>
        </h3>
</div>