<footer class="bg-primary py-10 font-poppins  px-4">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Company Info -->
            <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:300px;height:300px;"><div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Vanchu+Huts&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlemaps-made" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="enable-map-data">premium bootstrap themes</a><style>#google-maps-canvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>
            <!-- <div class=" md:absolute right-0 h-[100%] md:h-[50%] flex justify-center align-center bg-black bg-opacity-70 p-2"> -->

                <!-- Navigation Links -->
                <div class="w-full">
                    <h4 class="text-lg md:text-2xl font-light mb-4 text-white">Quick Links</h4>
                    <ul>
                        <li class="mb-2 font-light text-sm md:text-lg"><a href="/" class="text-black hover:text-secondary  ">Home</a></li>
                        <li class="mb-2 font-light text-sm md:text-lg"><a href="/about" class="text-black hover:text-secondary  ">About</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg"><a href="/services" class="text-black hover:text-secondary  ">Our Menu</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg"><a href="/404" class="text-black hover:text-secondary  ">Service Area</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg"><a href="/reservation" class="text-black hover:text-secondary  ">Reservations</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg"><a href="/blog" class="text-black hover:text-secondary  ">Our Blog</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg"><a href="/contact" class="text-black hover:text-secondary  ">Contact Us</a></li>
                </ul>
            </div>
            
            <!-- Contact Information -->
            <div>
                <h4 class="text-lg md:text-2xl font-light mb-4 text-white">Contact Us</h4>
                <ul>
                    <li class="mb-2 font-light text-sm md:text-lg text-black"><a href="mailto:vanchuhut@gmail.com">Email: vanchuhut@gmail.com</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg text-black"><a href="tel: +9971135534">Phone: +91 9971135534</a></li>
                    <li class="mb-2 font-light text-sm md:text-lg text-black">Address:  Santosh Medical Intersection, Block H, Pratap Vihar, Ghaziabad, Uttar Pradesh 201009</li>
                </ul>
                
                <!-- Social Media Links -->
                <div class="flex space-x-4 mt-4 ">
                    <a href="#" class="text-black hover:text-secondary "><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-black hover:text-secondary "><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-black hover:text-secondary "><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-black hover:text-secondary "><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        </div>
  
        <!-- Divider -->
        <div class="border-t border-gray-800 my-8"></div>
  
        <!-- Bottom Section -->
        <div class="flex justify-between items-center">
            <p class="text-black-400 text-sm">&copy; 2024 Vanchu Huts. All Rights Reserved.</p>
            <div class="flex space-x-4">
                <a href="\" class="text-black   hover:text-secondary  text-sm">Privacy Policy</a>
                <a href="\" class="text-black  hover:text-secondary  text-sm">Terms of Service</a>
            </div>
        </div>
    </div>
  </footer>