---
import {Image} from "astro:assets"
import Button from '../components/Button.astro'
import HeroImg from "../assets/LandingImage.jpg"
---
<div class=" mx-auto relative flex justify-center items-center  overflow-hidden  ">
    <Image 
    id="parallax-image" 
    src={HeroImg} 
    alt="Home Page Image, shows picture of Various Chinese Food on a Table" 
    format="avif"
    class="object-cover w-screen transform scale-[1.5] -z-10 h-[70vh] sm:h-[80vh] md:h-screen lg:h-screen xl:h-screen"
    />
    <div class="absolute inset-0 bg-black opacity-70"></div>
    <div class="absolute inset-0 mt-30 flex flex-col items-center justify-center text-white sm:text-5xl text-3xl z-10 mt-10 text-center">
        <h1>
            <span class="whitespace-nowrap"> <strong class="text-secondary">VANCHU HUT</strong><br> YOUR GO-TO SPOT <br>FOR AUTHENTIC <strong class="text-primary">CHINESE CUISINE</strong> </span>
        </h1>
        
        <div class="text-2xl ">
            Enjoy our Exclusive Chinese Food Collection
        </div>
        <div class="flex text-lg mt-10">
            <Button text={"VIEW MENU"} onClick="menu"/>
            <Button text={"RESERVE A TABLE"} onClick="reservation"/>
        </div>

    </div>
</div>