---
import Button from '../components/Button.astro'
import { Image } from 'astro:assets'
import chowmin from '../assets/dishes/chowmin.webp'
import momos from '../assets/dishes/momos.webp'
import pasta from '../assets/dishes/pasta.webp'
import burger from '../assets/dishes/burger.webp'
---

<div class="bg-white">
    <div class="text-6xl text-center p-10 flex justify-between items-center">
        <div  class="flex-1">
            Our Top Dishes
            <div>
                <h3 class="text-xl">
                    Explore our menu and you’ll find a selection of popular Chinese dishes that locals love. From our famous dumplings to vegetarian options and the classic chowmein, each dish is made to impress. Looking for a quick meal? Try our takeout options for a delicious Chinese food experience at home!
                </h3>
        </div>
        </div>

    </div>
    <div class="flex flex-col sm:flex-row justify-center items-center text-center pb-4">
        <div class="w-[300px] h-[200px] bg-primary rounded-lg relative m-10 transform hover:scale-105 transition-transform duration-300 ease-in-out">
            <Image format="avif" src={chowmin} alt="Authentic Chinese Chowmein - Fresh noodles stir-fried with vegetables at Vanchu Hut" class="rounded-lg w-full h-full object-cover"/>

        </div>

        <div class="w-[300px] h-[200px] bg-primary rounded-lg relative m-10 transform hover:scale-105 transition-transform duration-300 ease-in-out ">
            <Image format="avif" src={momos} alt="Steamed Momos - Hand-crafted dumplings with spicy chutney at Vanchu Hut Pratap Vihar" class="rounded-lg w-full h-full object-cover"/>

        </div>

        <div class="w-[300px] h-[200px] bg-primary rounded-lg relative m-10 transform hover:scale-105 transition-transform duration-300 ease-in-out">
            <Image format="avif" src={pasta} alt="Chinese Pasta - Creamy Indo-Chinese fusion pasta with vegetables at Vanchu Hut Pratap Vihar" class="rounded-lg w-full h-full object-cover"/>

        </div>
        <div class="w-[300px] h-[200px] bg-primary rounded-lg relative m-10 transform hover:scale-105 transition-transform duration-300 ease-in-out">
            <Image format="avif" src={burger} alt="Chinese Burger - Spicy Asian-style burger with unique sauce at Vanchu Hut Pratap Vihar" class="rounded-lg w-full h-full object-cover"/>

        </div>
    </div>
    <div class="flex justify-center items-center pb-10">
        <Button text={"VIEW MENU"} onClick="menu"/>
    </div>
</div>