---
import Button from './Button.astro'
---
<section class="bg-primary relative">
    <div class="absolute inset-0 bg-black opacity-50 z-10 flex items-center justify-center">
        <h2 class="text-white text-3xl md:text-4xl font-bold text-center ">A Perfect Spot for Your Family and Friends</h2>
    </div>
    <video class="w-screen md:h-[400px] object-cover md:object-none z-0" autoplay loop muted>
      <source src="/vid.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
</section>

<div class="text-center px-8 mt-4 text-xl">
<div>
  <h2>
    Family-Friendly Dining at Its Best
  </h2>
  <h3 >
    Are you searching for the best place to enjoy a family meal? Do you want to impress your loved ones with a tasty and relaxed dining experience? Many people widely recognize Vanchu Hut as one of the ultimate family-friendly Chinese restaurants in Ghaziabad. Our staff dedicates themselves to ensuring your mealtime is not only delicious but also hassle-free.
    From birthday celebrations to casual dinners, our vibrant and accommodating space sets the ideal backdrop for creating unforgettable memories.
    </h3>
  
</div>

<h3 class="text-2xl font-bold mt-4">

  Order or Book Your Table Today!
</h3>
  <div class="flex p-5 justify-center items-center">
    <Button text={"Know More"} onClick="reservation"/>
  </div>
</div>