---
interface Props {
	title: string;
	description: string;

}

const { title,description } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
const googleAnalyticsId = 'G-T1L95Q3ZJX';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://vanchuhut.in">
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.min.css" />


		<script async src="https://www.googletagmanager.com/gtag/js?id={googleAnalyticsId}"></script>
    <script define:vars={{ googleAnalyticsId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', googleAnalyticsId);
    </script>

		
 		<!-- Open Graph / Social Media -->
 		<meta property="og:title" content="Vanchu Hut" />
		 <meta property="og:url" content="https://vanchuhut.in/" />
		 <meta property="og:type" content="website" />
 		<meta property="og:description" content="Discover the best Chinese restaurant in Pratap Vihar, Ghaziabad, at Vanchu Hut. Enjoy authentic Chinese cuisine with family-friendly dining options." />
 		<meta property="og:image" content="https://scontent.fdel64-1.fna.fbcdn.net/v/t39.30808-6/469533770_555317043943147_1103509364423730668_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=btjl9jicl0oQ7kNvgH_cf-m&_nc_oc=Adg9cqSt7i2vZkHHovBR8WvvfmkE032XqLVsgwJs9YBccDi5JCX_yNSwkKnoEllVPxQ&_nc_zt=23&_nc_ht=scontent.fdel64-1.fna&_nc_gid=AkWDLpKfGw1zjCo48BGYlLI&oh=00_AYC276OBE5UOdnjM1gtjQmybxtJScGU2qHXjCP9eQGa_Pw&oe=67B10393" />

	</head>
	<body class="font-agdasima">
		<Header/>
		<slot />
		<Footer/>

	</body>
</html>